
#menu li {
  color: #f1f1f1;
  display: inline-block;
  width: 300px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
}
#menu a {
  text-decoration: none;
  text-align: center;
  background: Navy;
  color: white;
  display: block;
}
#menu a:hover {
  background: Aqua;
  color: Navy;
}
#container {
overflow: auto;
 background: rgb(245, 244, 243);
width: auto;
height: 1000px;
}
#chuanick .nick{
  border: 5px solid rgb(245, 8, 8);
  width: 50%;
  height: auto;
  margin-top: 10px;
}

#chuanick .nick img{
display: block;
width: 100%;
height: auto;
}